$latime-buton: 150px;
$inaltime-buton: 50px;
$timp-tranzitie: 0.3s;

nav {
    background-color: var(--culoare-contur);
}

ul.meniu {
    display: flex;
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: none;
        animation: animatie_submeniu 0.3s linear;
        transform-origin: center top;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: -1px;
    }

    li {
        position: relative;
        width: $latime-buton;
        height: $inaltime-buton;
        background-color: var(--culoare-fundal);
        border: 1px solid var(--culoare-contur);
        color: var(--culoare-text);
        text-align: center;
        line-height: $inaltime-buton;
        transition: all $timp-tranzitie linear;

        .wrapper-buton {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;

            .strat-text {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 100%;
            }

            .strat-umbra {
                /*Pentru umbra de la textul acasă*/
                position: absolute;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                color: rgb(255, 255, 255, 0.8);
                transition: top $timp-tranzitie ease-out;
            }
        }

        &:hover {
            background-color: var(--culoare-contur);
            color: white;

            .strat-umbra {
                top: 0;
            }

            &>ul {
                display: block;
            }
        }

    }

    li li {
        &:hover {
            a {
                text-decoration-color: currentColor;
            }
        }
    }

    a {
        text-decoration: underline;
        text-decoration-color: transparent;
        text-underline-offset: 4px;
        transition: text-decoration-color $timp-tranzitie ease-in-out;
        color: inherit;
        display: block;
        width: 100%;
        height: 100%;
    }
}

#hamburger,
#ch-menu {
    display: none;
}

.text-icon,
.imag-icon {
    display: inline-block;
}

@keyframes animatie_submeniu {
    0% {
        opacity: 0;
        transform: scale(1, 0);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}