<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Zona Echo</title>
    <meta name="description" content="Casti audio la preturi rezonabile pentru utilizatori obișnuiți și fanatici de sunet!">
    <meta name="keywords" content="Zona Echo, ce este Zona Echo, casti, casti wireless, boxă portabilă, magazin audio, livrare la domiciliu, istoric Zona Echo, cine este Zona Echo, de ce este Zona Echo, casti gaming, casti bluetooth, casti in-ear, casti over-ear, casti hi-fi, casti noise cancelling, boxe portabile, boxe PC, subwoofer, boxe surround, soundbar, oferta">
    <%- include("../fragmente/head") %>

</head>

<body>
    <%- include("../fragmente/header") %>
    <main>
        A doua pagina.
    </main>
    <%- include("../fragmente/footer.ejs") %>
</body>

</html>