<!DOCTYPE html>
<html lang="ro">

<head>

    <title>Zona Echo</title>
    <meta name="description"
        content="Casti audio la preturi rezonabile pentru utilizatori obișnuiți și fanatici de sunet!">
    <meta name="keywords"
        content="Zona Echo, ce este Zona Echo, casti, casti wireless, boxă portabilă, magazin audio, livrare la domiciliu, istoric Zona Echo, cine este Zona Echo, de ce este Zona Echo, casti gaming, casti bluetooth, casti in-ear, casti over-ear, casti hi-fi, casti noise cancelling, boxe portabile, boxe PC, subwoofer, boxe surround, soundbar, oferta">
    <%- include("../fragmente/head") %>

</head>

<body>
    <%- include("../fragmente/header") %>
        <main>
            <div id="watermark"></div>
            <div id="grid-pagina">
                <section id="welcome">
                    <hgroup>
                        <div id="container-text">
                            <h2 id="text-bun-venit">Bine ati venit</h2>
                            <div id="text-reflectat">Bine ati venit</div>
                        </div>
                        <p class="subtitlu">Prezentarea site-ului</p>
                    </hgroup>



                    <div class="alert alert-secondary my-3 border border-width-4" role="alert">
                        <strong class="fs-5">Test Bootstrap:</strong> Font Oswald
                        <button class="btn btn-primary ms-3">Buton Primary</button>
                        <button class="btn btn-secondary ms-3">Buton Secondary</button>
                    </div>
                    <blockquote>"Half of the storytelling ability is sound."</blockquote>
                    <cite>— Joe Herrington</cite>
                    <p class="intro">Vă mulțumim că ne vizitați site-ul. Ce este Zona Echo? Este un magazin audio unde
                        îți poți îmbunătăți experiența de entertainment! Acestea sunt recomandările noastre!</p>

                    <ul class="intro-oferte">
                        <li>Căști wireless</li>
                        <li>Căști Hi-Fi</li>
                        <li>Soundbar</li>
                        <li>Boxă portabilă</li>
                        <li>Căști gaming</li>
                    </ul>
                    <hr>
                    <p class="anunt-intro">Puteți încerca produse în showroom-ul nostru și livrăm la domiciliu!</p>
                    <div id="dv-prezentare-1">
                        <div id="dv-prezentare">
                            <figure id="fig0" class="fg-img">
                                <picture>
                                    <source srcset="/resurse/imagini/speaker-image2-300w.jpg"
                                        media="(max-width:700px)" />
                                    <source srcset="/resurse/imagini/speaker-image2-640w.jpg"
                                        media="(max-width:1200px)" />
                                    <img src="/resurse/imagini/speaker-image2.jpg" alt="text"
                                        title="Set de boxe pentru acasă" />
                                </picture>
                                <figcaption>
                                    Set boxe exemplu
                                </figcaption>
                            </figure>
                        </div>

                        <strong>ATENTIE! Luni 31.08.2026 la ora 18:00 se vor realiza lucrări de mentenanță</strong>
                    </div>
                </section>
                <section id="promotii">
                    <h2>Promoții și oferte</h2>
                    <article>
                        <h3>Livrare gratuită</h3>
                        <p>La orice comandă de peste <b>200 de lei</b>, livrarea la domiciliu este gratuită!</p>
                    </article>

                    <article>
                        <h3 class="titlu">Weekend-ul Sound & Bass</h3>
                        <p>La <b>Zona Echo</b> oferim <b>reduceri de <s>10%</s> <ins>20%</ins></b> pentru toate
                            <b>boxele portabile</b> și
                            <b>căștile bluetooth</b> cumpărate sâmbăta în intervalul orar 10:00 - 14:00.
                        </p>

                        <div class="status-promotie">
                            <p>Stoc promoțional rămas:</p>
                            <meter id="stoc-promo" min="0" max="100" low="30" high="80" optimum="100"
                                value="25">25%</meter>
                            <span> 25% - Grăbește-te, se dau ca pâinea caldă!</span>
                        </div>
                    </article>

                    <article>
                        <h3>Pachetul "Home Cinema"</h3>
                        <p>Zona Echo oferă pachete promoționale cuprinzând:</p>
                        <ol>
                            <li>Un <b>soundbar</b> de ultimă generație</li>
                            <li>Un <b>subwoofer</b> activ pentru un bas profund</li>
                            <li>Două <b>boxe surround</b> pentru o experiență imersivă</li>
                            <li>Gratis: 3 luni de abonament la un serviciu de streaming cu <b>lossless audio</b>.</li>
                        </ol>
                    </article>

                    <article>
                        <h3>Săptămâna Noise Cancelling</h3>
                        <p>Izolează-te de zgomotul orașului cu tehnologia noastră de top!</p>
                        <p>Toate modelele de <b>căști noise cancelling</b> dotate cu tehnologie <b>ANC</b> (Active Noise
                            Cancellation)
                            beneficiază de reduceri progresive:</p>
                        <ol>
                            <li>La prima pereche de <b>căști over-ear</b> cumpărată, primești 10% reducere.</li>
                            <li>Dacă adaugi și o pereche de <b>căști in-ear</b> pentru sport, reducerea crește la 20%
                                pentru ambele produse.
                            </li>
                        </ol>
                    </article>

                    <article>
                        <h3>Upgrade către Hi-Fi</h3>
                        <p>Simți că vechile tale căști nu mai fac față? Știm cum e. Decât să asculți un sunet plat și
                            distorsionat, mai bine
                            treci la nivelul următor. Vino în magazinul nostru cu vechea ta pereche de căști și primești
                            un voucher cadou
                            pentru achiziția unor <b>căști hi-fi</b> sau a unui sistem <b>hi-res audio</b>. Nu mai
                            plânge după calitatea
                            pierdută, bucură-te de un sunet cristalin!</p>
                    </article>
                </section>
                <section id="dictionar">
                    <h2><b>Dicționar tehnic</b></h2>
                    <ul>
                        <li>
                            <b>Frecvență (frecventa):</b> Reprezintă numărul de vibrații ale undei sonore pe secundă,
                            măsurată în Hertzi
                            (Hz). <b>Ce este frecventa?</b> Este parametrul care determină dacă un sunet este grav (bas)
                            sau ascuțit
                            (înalte).
                            <p>Pentru o explicație științifică aprofundată despre modul în care undele sonore
                                interacționează cu mediul, vizitați:
                                <br>
                                <a href="https://www.britannica.com/science/sound-physics/Standing-waves#ref52643">
                                    https://www.britannica.com<wbr>/science<wbr>/sound-physics<wbr>/Standing-waves<wbr>#ref52643
                                </a>
                            </p>
                        </li>
                        <li>
                            <b>Impedanță:</b> Reprezintă rezistența electrică a dispozitivului la semnalul audio,
                            măsurată în
                            Ohmi. O impedanță corelată corect între căști și sursă asigură o fidelitate maximă.
                        </li>
                        <li>
                            <b>ANC (Active Noise Cancellation):</b> Tehnologie care utilizează microfoane pentru a capta
                            zgomotul exterior
                            și a genera un "antizgomot" care să îl anuleze.
                        </li>
                        <li>
                            <b>Noise cancelling:</b> Termen general pentru procesul de reducere a sunetelor ambientale
                            nedorite, fie prin
                            izolare fizică, fie prin tehnologie electronică.
                        </li>
                        <li>
                            <b>Hi-Fi (High Fidelity):</b> <b>Ce este hi-fi?</b> Este standardul de reproducere a
                            sunetului care urmărește să
                            fie cât mai fidel înregistrării originale, cu distorsiuni minime.
                        </li>
                        <li>
                            <b>Hi-res / Hi-res audio:</b> Se referă la fișiere audio cu o rată de eșantionare și o
                            adâncime de biți mai mari
                            decât cele ale unui CD standard, oferind o claritate superioară.
                        </li>
                        <li>
                            <b>Lossless audio:</b> Un format de compresie a datelor audio care permite recrearea
                            perfectă a datelor
                            originale, fără nicio pierdere de calitate sonoră.
                            <p>O sursă recomandată pentru mai multe informații este <a target="_blank"
                                    href="https://www.wired.com/story/what-is-lossless-audio-and-do-you-really-need-it/">aceasta</a>
                            </p>
                        </li>
                    </ul>
                    <video controls poster="resurse/imagini/waveform.jpg" preload="metadata" class="video-principal">
                        <source src="resurse/video/waveform.mp4" type="video/mp4">
                        <source src="resurse/video/soareci_pisic.ogv" type="video/ogg">

                        <track default src="resurse/video/tracks/captions_ro.vtt" kind="captions" srclang="ro"
                            label="Română">
                        <track src="resurse/video/tracks/captions_eng.vtt" kind="captions" srclang="en" label="English">

                        Browserul tău nu suportă elementul video.
                    </video>
                </section>
                <section id="informative-videos">
                    <hgroup>
                        <h2>Videoclipuri informaționale</h2>
                        <p>Află totul despre funcționarea și tehnologia sistemelor audio</p>
                    </hgroup>

                    <section>
                        <hgroup>
                            <h3>Lumea Căștilor</h3>
                            <p class="subtitlu">Cum funcționează căștile audio de fapt?</p>
                        </hgroup>

                        <p>Vă recomandăm aceste videoclipuri pentru a înțelege mai bine tehnologia din spatele căștilor
                            audio.</p>

                        <div class="container-iframe">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/GQWLuAEelcc"
                                name="ifr-video" title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <div class="taburi-iframe">
                                <a href="https://www.youtube.com/embed/_W2z-ikIgM0" target="ifr-video">Principiul de
                                    funcționare</a>
                                <a href="https://www.youtube.com/embed/DS4T_1UyCHw" target="ifr-video">Open-back vs
                                    Closed-back</a>
                                <a href="https://www.youtube.com/embed/GQWLuAEelcc" target="ifr-video">Despre
                                    Impedanță</a><br />
                            </div>
                        </div>
                    </section>

                    <section>
                        <hgroup>
                            <h3>Playlist general despre cum funcționează audio-ul</h3>
                            <p class="subtitlu">Selecție de clipuri utile pentru pasionați</p>
                        </hgroup>

                        <div class="container-iframe-playlist">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed?listType=playlist&list=PLASEfdY-tiDrIwtPGSO7dfqeVvVyjf07o&autoplay=1&loop=1&mute=1&controls=1"
                                title="Zona Echo Playlist" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                allowfullscreen>
                            </iframe>
                        </div>
                    </section>
                </section>
                <section id="produse">
                    <h2>Produsele noastre</h2>
                    <p>Vă oferim o gamă variată de produse care să-ți îmbunătățească experiența audio.</p>
                    <section>
                        <h3>Căști</h3>
                        <p>Oferim căști pentru uz personal care pot fi folosite indiferent de unde te afli!</p>
                        <p>Avem următoarele tipuri de căști audio:</p>
                        <ul>
                            <li>Casti gaming wireless</li>
                            <li>Casti wireless</li>
                            <li>Casti bluetooth</li>
                            <li>Casti in-ear</li>
                            <li>Casti over-ear</li>
                            <li>Casti hi-fi</li>
                            <li>Casti noise cancelling</li>
                        </ul>
                    </section>
                    <section>
                        <h3>Boxe</h3>
                        <p>Vrei să le arăți amicilor ce muzică îți place? Nicio problemă!</p>
                        <p>Avem următoarele tipuri boxe:</p>
                        <ul>
                            <li>Boxe portabile</li>
                            <li>Boxe PC</li>
                            <li>Subwoofer</li>
                            <li>Boxe surround</li>
                            <li>Soundbar</li>
                        </ul>
                    </section>

                </section>
                <section id="orar">
                    <h2>Program de lucru</h2>
                    <div class="tabel-container">
                        <table id="tab-orar">
                            <caption>Programul de funcționare Zona Echo</caption>

                            <thead>
                                <tr>
                                    <th>Tip Zi</th>
                                    <th>Ziua Săptămânii</th>
                                    <th>Interval Orar</th>
                                    <th>Observații</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td rowspan="5" class="alb">Zile Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>09:00 - 18:00</td>
                                    <td>Program Normal</td>
                                </tr>
                                <tr>
                                    <td>Marți</td>
                                    <td>09:00 - 18:00</td>
                                    <td>Program Normal</td>
                                </tr>
                                <tr>
                                    <td>Miercuri</td>
                                    <td>09:00 - 20:00</td>
                                    <td>Program Prelungit</td>
                                </tr>
                                <tr>
                                    <td>Joi</td>
                                    <td>09:00 - 18:00</td>
                                    <td>Program Normal</td>
                                </tr>
                                <tr>
                                    <td>Vineri</td>
                                    <td>09:00 - 17:00</td>
                                    <td>Program Scurt</td>
                                </tr>
                                <tr>
                                    <td rowspan="2" class="alb">Weekend</td>
                                    <td>Sâmbătă</td>
                                    <td>10:00 - 14:00</td>
                                    <td>Doar ridicări comenzi</td>
                                </tr>
                                <tr>
                                    <td>Duminică</td>
                                    <td>Închis</td>
                                    <td>-</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td colspan="4">Suportul tehnic telefonic este disponibil doar în timpul programului
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <p><strong>Atenție!!!</strong> În prima zi a fiecărei luni magazinul este închis pentru inventar.
                    </p>
                </section>

                <section id="index-intrebari">
                    <h2>Întrebări frecvente</h2>
                    <details>
                        <summary>Produsele dumneavoastră provoacă dependență severă de sunet de înaltă calitate?
                        </summary>
                        <p>Da!</p>
                    </details>
                    <details>
                        <summary>Există riscul ca vecinii să bată în țeavă imediat ce pornesc un <b>soundbar</b> de la
                            voi?</summary>
                        <p>Da!</p>
                    </details>
                    <details>
                        <summary>Subwoofer-ele din oferta dumneavoastră chiar au puterea de a mișca mobila prin casă?
                        </summary>
                        <p>Foarte! Da!</p>
                    </details>
                    <details>
                        <summary>Sunteți cumva asociați cu compania Zona IT?</summary>
                        <p>Ne rezervăm dreptul de a nu răspunde la această întrebare; mulțumim pentru înțelegere!</p>
                    </details>
                </section>

                <section id="anunturi">
                    <h2 class="fg-img">Anunțuri</h2>
                    <ul>
                        <li>
                            <time datetime="2026-03-02">2 martie 2026</time>, <b>Lansarea Oficială</b> - Suntem oficial
                            online!
                            <strong>Suntem pregătiți să livrăm sunet de top!</strong>
                        </li>
                        <li>
                            <time datetime="2026-02-15">15 februarie 2026</time>, <b>Upgrade Hi-Fi</b> - Am adăugat o
                            nouă gamă de <b>căști
                                hi-fi</b> în catalog. Studiile noastre arată că muzica lossless vindecă tristețea de
                            luni dimineață.
                        </li>
                        <li>
                            <time datetime="2025-07-20">20 iulie 2025</time>, <b>Bas la Control</b> - Nu avem nimic de
                            anunțat, doar a
                            trecut ceva vreme de la ultimul update și ne era teamă că ați uitat cum sună basul de la un
                            <b>subwoofer</b> de
                            calitate.
                        </li>
                        <li>
                            <time datetime="2023-11-10">10 noiembrie 2023</time>, <b>Experiență Cinema</b> - Am adăugat
                            un <b>soundbar</b>
                            nou în stoc. Vecinii tăi nu vor fi fericiți, dar noi suntem!
                        </li>
                        <li>
                            <time datetime="2022-01-05">5 ianuarie 2022</time>, <b>Focus Total</b> - No more Zoom calls
                            without <b>ANC</b>!
                            Am decis că toată lumea merită <b>căști noise cancelling</b> pentru a ignora ședințele
                            plictisitoare.
                        </li>
                        <li>
                            <time datetime="2021-06-12">12 iunie 2021</time>, <b>Muzică fără Limite</b> - Am adăugat o
                            <b>boxă portabilă</b>
                            nouă. Rezistă la apă, la praf și la gusturile muzicale îndoielnice ale prietenilor tăi.
                        </li>
                        <li>
                            <time datetime="2021-01-01">1 ianuarie 2021</time>, <b>Vibrații de Anul Nou</b> - Un an nou
                            fericit și fără
                            distorsiuni! Sperăm să auziți doar vești <b>hi-res</b> în acest an.
                        </li>
                        <li>
                            <time datetime="2020-09-15">15 septembrie 2020</time>, <b>Libertate în Gaming</b> - Am
                            adăugat un set nou de
                            <b>căști gaming wireless</b>. Acum poți merge până la bucătărie după apă fără să pierzi
                            indicațiile echipei.
                        </li>
                        <li>
                            <time datetime="2020-03-15">15 martie 2020</time>, <b>Pionierat Wireless</b> - Am adăugat
                            prima noastră pereche
                            de <b>căști wireless</b> în magazin!
                        </li>
                        <li>
                            <time datetime="2020-01-10">10 ianuarie 2020</time>, <b>Esențialul pentru Birou</b> -
                            Studiile au arătat că
                            boxele PC sunt cele mai bune prietene ale omului modern.
                        </li>
                    </ul>
                </section>

                <section id="galerie-statica">
                    <h2>Galerie</h2>
                    <div id="grid-galerie">
                        <%- include("../fragmente/galerie") %>
                    </div>
                </section>
                <section id="lista-utilizatori-online">
                    <h2>Utilizatori Online</h2>
                    <p>Lorem Ipsum</p>
                </section>
                <section id="statistici">
                    <h2>Statistici</h2>
                    <p>Lorem Ipsum</p>
                </section>
                <section id="despre-site-server">
                    <h2>Despre Site și Server</h2>
                    <p>Lorem Ipsum</p>
                </section>
            </div>
        </main>
        <%- include("../fragmente/footer.ejs") %>
</body>

</html>