h1, h2, h3, h4, h5, h6, strong, b {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th {
    font-weight: bold;
}

ul {
    list-style-type: disc; 
    padding-left: 25px;    
    margin-bottom: 10px;   
}

ol {
    list-style-type: decimal;
    padding-left: 25px;
    margin-bottom: 10px;
}

blockquote {
    margin: 20px 40px;             
    padding: 10px 20px;            
    border-left: 5px solid var(--culoare-contur); 
    background-color: rgba(70, 165, 242, 0.1);    
    font-style: italic;            
    line-height: 1.6;
}

cite {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: #555;
}

address {
    font-style: italic;      
    line-height: 1.6;        
    display: block;          
    margin-bottom: 20px;     
    color: var(--culoare-text);
}


html {
    font-size: 18px; 
    transition: font-size 0.5s ease;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
p, li, td, th { font-size: 1rem; }
.subtitlu { font-size: 0.9rem; }

body{
    --culoare-fundal: #e4edf5;
    --culoare-contur: #46A5F2;
    --culoare-text: #221C61;
    --culoare-highlight: #466FF2; 
    --culoare-detalii: #46DBF2;

    --grosime-border-buton: 2px;
    --gap-grid: 25px;   
    
    font-size: 1rem;
    line-height: 1.5;
    --margine-pagina: 75px;
    background-color: var(--culoare-fundal);
    color: var(--culoare-text);
}

main{
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}

p{
    border: 1px solid var(--culoare-fundal);
}

#grid-pagina{
    display: grid;
    gap: var(--gap-grid);
    /*La slide-ul 49 in curs avem unitatile de masura*/
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "welcome welcome welcome welcome" /*zona1 zona1 zona1 zona1*/
                          "welcome welcome welcome welcome" /*zona1 zona1 zona1 zona1*/
                            "produse produse produse galerie-statica" /*zona8 zona8 zona8 zona8*/
                            "informative-videos informative-videos dictionar dictionar" /*zona8 zona8 zona8 zona8*/
                            "informative-videos informative-videos index-intrebari index-intrebari" /*zona8 zona8 zona8 zona8*/
                            "anunturi orar orar promotii" 
                            "lista-utilizatori-online statistici despre-site-server despre-site-server"
                            "despre-brand despre-brand despre-brand despre-brand"; 
}

#grid-pagina > *{
    border: 1px solid var(--culoare-contur);
    box-shadow: 0px 0px 10px var(--culoare-contur);
    padding: 30px;
}

.oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#welcome{
    grid-area: welcome; /*alias pentru fiecare sectiune*/
}
#reduceri{
    grid-area: reduceri;
}
#despre-brand{
    grid-area: despre-brand;
}
#galerie-statica{
    grid-area: galerie-statica;
}
#informative-videos{
    grid-area: informative-videos
}
#dictionar{
    grid-area: dictionar
}
#promotii{
    grid-area: promotii;
}
#anunturi{
    grid-area: anunturi;
}
#orar{
    grid-area: orar;
}
#produse{
    grid-area: produse;
}
#index-intrebari{
    grid-area: index-intrebari;
}
#lista-utilizatori-online{
    grid-area: lista-utilizatori-online;
}
#statistici{
    grid-area: statistici;
}
#despre-site-server{
    grid-area: despre-site-server;
}

/*Stilizare imagini*/

figure > img {
    width: 100%;
    height: auto;
    min-width: 100px;
    margin: 0;
}

#welcome img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 4px solid var(--culoare-contur);
    background-color: var(--culoare-fundal);
    box-shadow: 0px 0px 10px var(--culoare-contur);
}

#galerie-statica img{
    border: 4px solid var(--culoare-contur);
    background-color: var(--culoare-fundal);
    height: auto;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 0px 10px var(--culoare-contur);
}

/*Stilizare iframe*/

.container-iframe{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 315px;
    width: 100%;
    gap:0;
}

iframe{
    width: 100%;
}

.container-iframe > iframe{
    border: 4px solid var(--culoare-contur);
    background-color: var(--culoare-fundal);
    z-index: 10;
}

.container-iframe-playlist > iframe{
    border: 4px solid var(--culoare-contur);
}

.taburi-iframe{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 25%; 
    justify-content: flex-start;
}

.taburi-iframe > a{
    display: flex;
    padding: 10px;
    background-color: var(--culoare-fundal);
    border: var(--grosime-border-buton) solid var(--culoare-contur);
    color: var(--culoare-text);
    text-decoration: none;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
    transition: all 0.1s linear;
    transform: translateX(-10px);
}
.taburi-iframe > a:hover{ /*fiu direct, din acest motiv punem sageata*/
    background-color: var(--culoare-contur);
    transform: translateX(0px);
    color: white;
}

.container-iframe-maps{
    max-width: 600px;
    height:auto;
}

/*Stilizare tabel*/

.tabel-container {
    overflow-x: auto;
    width: 100%;
    margin: 20px 0;
}

#tab-orar{
    border-collapse: collapse;
    width: 100%;
    border: 5px double var(--culoare-contur);
    background-color: var(--culoare-fundal);
}

#tab-orar caption {
    caption-side: bottom;
    padding: 10px;
    font-style: italic;
    color: var(--culoare-text);
}

#tab-orar td:nth-last-child(odd) {
    color: var(--culoare-text);
}

#tab-orar td:nth-last-child(even) {
    color: var(--culoare-highlight);
}

#tab-orar tbody tr:has(td:not(.alb):hover) td:not(.alb) {
    background-color: var(--culoare-contur); 
    color: var(--culoare-fundal);                
    border-width: 5px;       
    transition: all 0.75s ease;               
}

#tab-orar thead {
    background-color: var(--culoare-fundal);
    font-weight: bold;
}

#tab-orar td, th{
    border: 1px solid var(--culoare-text);
    text-align: center;
    padding: 5px;
}

#tab-orar td.alb {
    background-color: var(--culoare-fundal); 
    border-width: 1px;
    font-weight: bold;
}

/*Stilizare link-top*/

#link-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;

    width: 60px;
    height: 60px;
    opacity: 0.5;
 
    z-index: 1000;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

#triunghi {
    width: 100%;
    height: 100%;
    background-color: var(--culoare-fundal);
    border: 2px solid var(--culoare-contur); 
    
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    
    box-shadow: inset 0 0 15px rgba(0,0,0,0.3);
    
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sageata-cod {
    display: inline-block;
    color: var(--culoare-detalii);
    font-size: 4.5em;
    transform: translateY(6px);
    transition: transform 0.3s ease-in-out;
}

#link-top:hover {
    opacity: 1; 
}

#link-top:hover #triunghi {
    background-color: var(--culoare-highlight);
}

#link-top:hover .sageata-cod {
    transform: translateY(6px) scale(1.3);
    color: white;
}

@media screen and (max-width:1200px) {
    html{
        font-size: 17px; 
    }

    body{
        --margine-pagina: 20px;
    }

    #grid-pagina {
        grid-template-columns: 1fr 1fr; 
        --gap-grid: 15px;
        grid-template-areas: 
            "welcome welcome"
            "promotii produse"
            "despre-brand despre-brand"
            "anunturi anunturi"
            "orar orar"
            "dictionar dictionar"
            "informative-videos informative-videos"
            "galerie-statica galerie-statica"
            "index-intrebari index-intrebari"
            "lista-utilizatori-online statistici"
            "despre-site-server despre-site-server";
    }
}

@media screen and (max-width:800px) {
    #grid-pagina{
        display: block;
        --gap-grid: 10px;
    }
    #grid-pagina > *{
        padding: 15px;
    }
    html{
        font-size: 15px; 
    }
    * {
        transition: none !important;
        animation: none !important;
    }
    body{
        --margine-pagina: 20px;
    }

    /*Pentru ecran mic, butoanele au fost asezate sub iframe */
    .container-iframe {
        flex-direction: column;
        height: auto;
    }
    .container-iframe > iframe {
        height: 315px;
        width: 100%;
    }
    .taburi-iframe {
        width: 100%;
        flex-direction: row;
        height: auto;
        justify-content: center;
    }
    .taburi-iframe > a {
        flex: 1;
        text-align: center;
        margin: 0 5px;
        transform: translateX(0px);
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

