<div id="container-comparare" style="display:none">
    <span class="comparare-label">Comparare:</span>
    <div class="comparare-produse"></div>
    <button class="btn btn-primary btn-sm comparare-afiseaza" style="display:none">
        Afișează
    </button>
</div>

<template id="tpl-comparare-entry">
    <div class="comparare-entry">
        <span class="comparare-name"></span>
        <button class="comparare-remove" title="Elimină din comparare">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</template>