<header>    
        <h1 class="oswald">Zona Echo<i class="fa-solid fa-music fa-bounce"></i></h1>
        <nav>
            <!-- <label id="hamburger" for="ch-menu">
                <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
            </label> -->
            <label for="ch-menu" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <input type ="checkbox" id="ch-menu"/>
            <ul class="meniu">
                <li>
                    <div class="wrapper-buton">
                        <div class="strat-text">
                            <a href="#welcome"><div class="text-de-comprimat"><i class="fa-solid fa-house"></i><span class="text-home"> Acasa</span></div></a>
                        </div>
                        <div class="strat-umbra">
                            <i class="fa-solid fa-house"></i><span class="text-home"> Acasa</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="text-de-comprimat"><div class="text-icon"><i class="fa-solid fa-headphones"></i></div> Produse</div>
                    <ul>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#produse">Toate produsele</a></div>
                                <div class="strat-underline">
                                    <u>Toate produsele</u>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#promotii">Promotii</a></div>
                                <div class="strat-underline">
                                    <u>Promotii</u>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><div class="text-de-comprimat"><div class="text-icon"><i class="fa-solid fa-graduation-cap"></i></div> Învață</div>
                    <ul>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#dictionar">Termeni tehnici</a></div>
                                <div class="strat-underline">
                                    <u>Termeni tehnici</u>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#informative-videos">Videoclipuri</a></div>
                                <div class="strat-underline">
                                    <u>Videoclipuri</u>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#index-intrebari">Întrebări frecvente</a></div>
                                <div class="strat-underline">
                                    <u>Întrebări frecvente</u>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><div class="text-de-comprimat"><div class="text-icon"><i class="fa-solid fa-users"></i></div> Despre noi</div>
                    <ul>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#orar">Program</a></div>
                                <div class="strat-underline">
                                    <u>Program</u>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#anunturi">Anunturi</a></div>
                                <div class="strat-underline">
                                    <u>Anunturi</u>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper-buton">
                                <div class="strat-text"><a href="#despre-brand">Istoricul companiei</a></div>
                                <div class="strat-underline">
                                    <u>Istoricul companiei</u>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>