<header>
        <h1 class="oswald">Zona Echo <i class="fa-solid fa-music fa-bounce"></i></h1>
        <nav>
            <label id="hamburger" for="ch-menu">
                <img src="resurse/imagini/Hamburger_icon_alb.png" alt="menu">
            </label>
            <input type ="checkbox" id="ch-menu"/>
            <ul class="meniu">
                <li><i class="fa-solid fa-house"></i> Acasa
                    <ul>
                        <li><a href="#welcome">Welcome</a></li>
                    </ul>
                </li>
                <li><a href="#produse"><i class="fa-solid fa-headphones"></i> Produse</a>
                    <ul>
                        <li><a href="#promotii">Promotii</a></li>
                    </ul>
                </li>
                <li><i class="fa-solid fa-graduation-cap"></i> Învață
                    <ul>
                        <li><a href="#dictionar">Termeni tehnici</a></li>
                        <li><a href="#informative-videos">Cum functioneaza castile</a></li>
                        <li><a href="#index-intrebari">Întrebări frecvente</a></li>
                    </ul>
                </li>
                <li><i class="fa-solid fa-users"></i> Despre noi
                    <ul>
                        <li><a href="#orar">Program cu publicul</a></li>
                        <li><a href="#anunturi">Anunturi</a></li>
                        <li><a href="#despre-brand">Istoricul companiei</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>